$textColor: #000;
$errorColor: red;
$bgColor: #e5e3df;
$primaryColor: #00a884;
$secodaryColor: #f0f2f5;
$thirdColor: rgba(0, 0, 0, 0.54);
$fourthColor: #d1d7db;
$fifthColor: #ffffff;
$sixthColor: #efeae2;
$seventhColor: #d9fdd3;
