{
  "extends": [
    "airbnb/hooks",
    "airbnb-typescript",
    "react-app",
    "react-app/jest",
    "prettier",
    "prettier/prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "import/prefer-default-export": "off",
    "react/require-default-props": [0],
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "react/function-component-definition": [2, {
      "namedComponents": ["function-declaration", "function-expression", "arrow-function"]
    }]
  }
}
