@import 'common/styles/varaibles.scss';

.messageBlock {
  display: flex;
  justify-content: right;
  align-items: center;

  &.messageReceiveBlock {
    justify-content: left;
  }
}

.messageReceiveBlock {
  justify-content: left;
}

.message {
  padding: 15px 10px;
  border-radius: 5px;
  background-color: $seventhColor;

  &.messageReceive {
    background-color: $fifthColor;
  }
}
